#bin and obj of csharp
bin/
obj/
.csproj

# Rider
.idea/
.idea

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# Visual Studio Code
.vscode/

# dotnet stuff
project.lock.json

# Visual Studio temp something
.vs/

# Visual Studio 2014 CTP
**/*.sln.ide

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*


# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.scc

# Others
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
modulesbin/
tempbin/

# SpecFlow specific
*.feature.cs
*.feature.xlsx.*
*.Specs_*.html

# Output folder used by Webpack or other FE stuff
**/node_modules/*
**/wwwroot/*